*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
    overflow-x: hidden !important;
}
.container {
    max-width: 100% !important;
    overflow-x: hidden !important;
}
html {
	 font-family:'Julius Sans One' 'Open Sans', sans-serif;
}
.row-top {
	margin-top: 40px;
}
 h1 {font-family: 'Julius Sans One', 'Open Sans', sans-serif;
	color: #291979;
}
 h2, h3 {font-family: 'Julius Sans One', 'Open Sans', sans-serif;
	color: #61559f;
}

p { line-height: 1.6;
	font-size:larger;
	}
.ptb-40 {
	padding-top: 15%;
	padding-bottom: 30px;
}
.mx {
	margin-right: 20;
}
hr {
	margin: 10px 0;
	line-height: 2px solid;
	color: #61559f;
}

.navbar-brand{
	font-family: 'Julius Sans One', 'Open Sans', sans-serif;
	font-size:1.4rem;
	text-align: top;
	color:#6d34b7;
 }
	
.nav-link {
	font-size: 1.4rem;
    display: inline-block;
	color: #6d34b7;
	vertical-align: middle;
    background: no-repeat left center;
}
.page-wrap {
	padding-top:0;
	width: 100%;
	overflow-x: hidden;
	display: block; 
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
.page-section{
	position: relative;
	display:inside-block;
	padding-left:1rem;
	padding-right:1rem;
	padding-top: 1rem;
	overflow-x:hidden;
	-webkit-transition: all 25s ease-in-out;
	transition: all 25s ease-in-out;
}
.mx-auto {
	margin: auto;
	content: center;
}
.section-title {
	margin-top: 70px;
	text-align: center;
	color: #61559f;
}
.section-sub {
	text-align: center;
	color: #61559f;
	margin-bottom: 30px;
}
.section-name {
	text-align: center;
}																																																																					
.link-title { 
	 font-size: 1.5rem;
	 line-height: 1.4;
	text-align: center;
 }
 /******Portfolio **********/
 #portfolio img {
	max-width: 100%;
	padding-bottom:1rem;
 }
 .zoom a:hover {
    cursor: url(../cursor-sq-plus.png) 40 40, crosshair;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
/*******Carousel***********/
.carousel-caption {
	position: relative;
	left: auto;
	right: auto;
	padding-top: 1.25rem;
	overflow: hidden;
}	
.content-container {
	display: block;
	width: 100%;
}
.content {
	position: relative;
	cursor: pointer;
	width: 50%;
	max-width: 400px;
	padding: 15px;
	margin: auto;
	overflow: hidden;
}
.content-overlay {
	background: rgba(255,255,255,0.7);
	position: absolute;
	height: 99%;
	width: 100%;
	left: 0;
	top:0;
	bottom:0;
	right: 0;
	opacity: 0;
	z-index: 5;
	transition: all 0.4s ease-in-out 0s;
} 
.content:hover .content-overlay {
	opacity: 1;	
} 
a.taphover:hover .content-overlay, a.taphover.hover .content-overlay {
 opacity:1;
 display: block;
}
.content-image {
	width: 100%;
}
.content-details {
	position: absolute;
	text-align: center;
	padding-left: 0.5em;
	padding-right: 0.5em;
	width: 100%;
	top: 50%;
	left: 50%;
	opacity: 0;
	transform: translate(-50%, -50%);
	transition: all 0.3s ease-in-out 0s;
} 
.content:hover .content-details {
	top: 50%;
	left: 50%;
	opacity: 1;
}
a.taphover:hover .content-details, a.taphover.hover .content-details {
	top: 50%;
	left: 50%;
	opacity:1;
}
.content-details h3, .content-details h4, .content-details h5, .content-details h6 {
	color: #04506e;
	font-weight: 400;
	letter-spacing: 0.15em;
	text-transform: uppercase;
}
.content-details p{
	color: #000;
	font-size: 0.7em;
	text-transform: uppercase;
}
.fun-rings img{
	display: flex;
	justify-content: center;
	align-items: center;

}
/*
	height:auto;
	border-radius: 8px;
	object-fit: COVER;
}*/
/*.fun-rings{
	display: flex;
	flex-wrap: wrap;
}
.rings{
	gap: 5px;
}
.rings-10{
	gap:10px;
}*/

.pad-all {
	padding-left: 1.25rem;
	padding-bottom: 20px;
	padding-top:7px;
	padding-right:20px;
}
.fadeIn-bottom{
top: 80%;
} 
.fadeIn-top{
top: 20%;
} 
.fadeIn-left{
left: 20%;
}
.fadeIn-right{
left: 80%;
}

.footer-img{
	max-width: 200px;
}

/*******Image hover opacity***********/
html.opacity:hover img {
	opacity: 1;
}
.btn-success a:active { 
	color: white;
}
.section, img, .btn:hover  {
	-webkit-transition: all 350ms ease-in-out 0s;
	transition: all 350ms ease-in-out 0s;
}
a {color: #61559f;
}
a:hover {
	color:#352e5e;
}