*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
} 
p , .p {
	 font-family:'Julius Sans One' 'Open Sans', sans-serif;
	 padding-left: 1rem;
        padding-right: 1rem;
}
 h1 {
	font-family: 'Julius Sans One', 'Open Sans', sans-serif;
	font-size:2em;
	font-weight: 700;
	color: #291979;
}

.img-responsive { 
	width: 100%;
	max-width: 100%;
	height: auto;
}
.img-small{
	max-width: 20%;
}
.cursor-pointer{
	cursor: crosshair;
}
.responsive-padding{
	padding-top: 5rem;
}
.ptb-40 {
	margin-top: 50px;
	padding-bottom: 40px;
}.pt {
	padding-top: 100rem;
}
.p-lr{
	padding-left: 2rem;
	padding-right: 2rem;
}
.plr-5 {
	padding-left: 4rem;
	padding-right: 4rem;
}
.mlr-40 {
	margin-left: 40px;
	margin-right:40px;	
}
hr {
	margin: 10px 0;
	line-height: 2px solid;
	color: #61559f;
	opacity: 50;
}

.navbar-light .navbar-brand {
	font-family: 'Julius Sans One', 'Open Sans', sans-serif;
	text-align: center;
}	
.navbar-light .navbar-nav .nav-link {
	font-family: 'Julius Sans One', 'Open Sans', sans-serif;	
	color: #61559f8d;
}
.nav-link a:hover {
	color:#eeedf5;
}
.navbar-toggler{
	background-color:hsla(0, 83%, 45%, 0.671);
	font-size: 1rem;
}	
.navbar-toggler-icon {
    display: inline-block;
    vertical-align: middle;
    background: no-repeat left center;
	color: #61559f;
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}
.page-wrap {
	width: 100%;
	overflow-x: hidden;
	display: block;
}
.column {
	float: left;
	width: 50%;
	padding: 10px;
	height: auto;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
.page-section{
	position: relative;
	display:inside-block;
	width: 100%;
	height:100%;
	margin: auto;
	overflow-x:hidden;
	-webkit-transition: all 25s ease-in-out;
	transition: all 25s ease-in-out;
}
.section-title, .section-sub {
	text-align: center;
	color: #61559f;
}
.link-title { 
	 font-size: 1.5rem;
	 line-height: 1.4;
	text-align: center;
 }
 /******Portfolio **********/
 #portfolio img {
	max-width: 100%;
	padding-bottom:1rem;
 }
 .zoom a:hover {
    cursor: url(../cursor-sq-plus.png) 40 40, crosshair;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
/*******Carousel***********/
.carousel-caption {
	position: relative;
	left: auto;
	right:auto;
	margin-top: .7rem;
}	
/* content */
.content-container {
	display: block;
	width: 100%;
}
.content {
	position: relative;
	cursor: pointer;
	width: 50%;
	max-width: 400px;
	padding: 15px;
	margin: auto;
	overflow: hidden;
}
.content-overlay {
	background: rgba(255,255,255,0.7);
	position: absolute;
	height: 99%;
	width: 100%;
	left: 0;
	top:0;
	bottom:0;
	right: 0;
	opacity: 0;
	z-index: 5;
	transition: all 0.4s ease-in-out 0s;
} 
.content:hover .content-overlay {
	opacity: 1;	
} 
a.taphover:hover .content-overlay, a.taphover.hover .content-overlay {
 opacity:1;
 display: block;
}
.content-image {
	width: 100%;
}
.content-details {
	position: absolute;
	text-align: center;
	padding-left: 0.5em;
	padding-right: 0.5em;
	width: 100%;
	top: 50%;
	left: 50%;
	opacity: 0;
	transform: translate(-50%, -50%);
	transition: all 0.3s ease-in-out 0s;
} 
.content:hover .content-details {
	top: 50%;
	left: 50%;
	opacity: 1;
}
a.taphover:hover .content-details, a.taphover.hover .content-details {
	top: 50%;
	left: 50%;
	opacity:1;
}
.content-details h3, .content-details h4, .content-details h5, .content-details h6 {
	color: #04506e;
	font-weight: 400;
	letter-spacing: 0.15em;
	text-transform: uppercase;
}
.content-details p{
	color: #000;
	font-size: 0.7em;
	text-transform: uppercase;
}
.fadeIn-bottom{
top: 80%;
} 
.fadeIn-top{
top: 20%;
} 
.fadeIn-left{
left: 20%;
}
.fadeIn-right{
left: 80%;
}
/*.valign {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.left {
    float: left;
}
.right {
    float: right;
}*/ 

html.opacity:hover img {
	opacity: 1;
}
.btn-success a:active { 
	color: white;
}
.section, img, .btn:hover  {
	-webkit-transition: all 350ms ease-in-out 0s;
	transition: all 350ms ease-in-out 0s;
}

a {
	color: #61559f;
}
a:hover {
	color:#352e5e;
}